body {
    margin: 0;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 35rem;
}

.slideshow-container > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35rem;
    opacity: 0;
    transition: opacity 3s;
    object-fit: cover;
    object-position: center;
}

.slideshow-container .show {
    opacity: 1;
}