body {
    margin: 0;
}

.slideshow-container {
    position: relative;
    width: 40%;
    height: auto;
    flex: 2;

}

.slideshow-container > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 3s;
    object-fit: cover;
    object-position: center;
    border-radius: .2rem;
}

.slideshow-container .show {
    opacity: 1;
}