html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
}
/* Grid */
.grid-header { grid-area: header; }
.grid-main { grid-area: main; }
.grid-footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 0rem;
}

/* Reusable code */

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

/* Styling header */

.grid-header {
    background-color: #f99ab9;
}

/* Styling main */

.grid-main {
    background-image: url(./images/cow2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
}

/* Styling footer */

.grid-footer {
    background-color: peachpuff;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    color: white;
    
}

.header-menu li a {
    display: in;
    padding: 0rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;   
}

a {
    color: white;
    text-decoration: none;
}

.hamburger {
    border: 0;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    color: #ffffff;
}


/* Logotype  */
.logo {
    display: flex;
    flex: 10;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
    width: 100%;
    margin-top: 1rem;
}

.show img {
    height: auto;
}

/* Social media icons  */
.soc-icons {
    display: flex;
    flex: 1;
    font-size: 2.5rem;
    justify-content: flex-end;
    
}

.logoimg {
    width: 90%;
}

.header-group {
    display: flex;
    flex-direction: row;

}

.fa-github-square {
    margin: 1rem;
}

.fa-linkedin {
    margin-top: 1rem;
    margin-right: .3rem;
}

/* Website content */
.content {
    display: flex;
    height: 100%;
}
.about {
    height: 40rem;
    background-color: lightpink;
}
.projects {
    height: 40rem;
    background-color: lightsalmon;
}
.experience {
    height: 40rem;
    background-color: lightblue;

}
.contact {
    height: 40rem;
    background-color: lightgreen;

}

/* Back to top button styling  */
#topBTN {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    z-index: 99;
    font-size: 1.3rem;
    border: none;
    outline: none;
    background-color: rgb(232, 123, 187);
    color: white;
    cursor: pointer;
    padding: .5rem;
    border-radius: .3rem;
  }
  
  #topBTN:hover {
    background-color: rgb(241, 160, 208);
  }


