body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
}
/* Grid */
.grid-header { grid-area: header; }
.grid-main { grid-area: main; }
.grid-footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 0rem;
}

/* Reusable code */

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

/* Styling header */

.grid-header {
    background-color: #f99ab9;
}

/* Styling main */

.grid-main {
    background-color: lavenderblush;
    /* background-image: url(./images/backg1.png); */
    height: 40rem;
}

/* Styling footer */

.grid-footer {
    background-color: peachpuff;
}

.header-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

li {
    padding: 0rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-top: 1rem;
    display: flex;
    margin-bottom: 1.3rem;
    margin-right: 8rem;
}

.soc-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2rem;
}
.HEJ {
    display: flex;
    justify-content: flex-end;
}

.fa-github-square {
    margin: 1rem;
}

.fa-linkedin {
    margin-top: 1rem;
    margin-right: .3rem;
}



